
<h1>Bustle</h1>
<ul class="list-group row">
  {{#each model as |story|}}
    <ul class="list-group-item col-md-4">
      <li>{{#link-to 'story' story.id}}<img src={{story.image}} width="300" height="300">{{/link-to}}</li>
      <li class="index-headline">{{story.head}}</li>
      <li class="cat">{{story.category}}</li>
    </ul>
  {{/each}}
</ul>
